extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Daniel Whiteman

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Multi-skilled, result-driven and customer-focused individual who is acknowledged for talents in inspiring co-workers to excel and adapt to the demands of a challenge workload.
            | Excellent communication and organizational skills along with strong work ethics aimed at projecting a positive company image.
            | Reliable and driven, with strong time management and prioritization abilities.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li Object Oriented Programming
          li jQuery
          li AJAX
          li API Requests
          li RegEx Validators
          li Node.js
          li Express
          li NPM
          li Pug
          li Debugging
          li Peer Review and Critiquing Code
          li Adobe Illustrator
        h6 Contact Info

        //- Add your own contact info
        ul
          li 858-699-6180
          li daniel.whiteman1@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/dwhiteman57') GitHub
        a.button.expanded(href='https://twitter.com/danielwhiteman') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
